.active-button {

    width: fit-content;
    background-color: #00bfa5;
    padding: 10px 16px;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    margin: 20px 0px;
    color: white;
    cursor: pointer;
}

    .active-button > p{
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
    }

.faded-button {
    width: fit-content;
    background-color: #a7ffeb;
    padding: 10px 16px;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    margin: 20px 0px;
    color: #00bfa5;
    cursor: pointer;
}

    .faded-button > p{
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
    }

